.PodPageBody {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.podcontainer {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 25%;
    background-color: white;
    color:black;
    display: flex;
    align-content: center;
    padding: 2px;
    border: 0.5px solid black;
    box-shadow: 2px 2px 2px 2px #4C2E05;
}


.podimg {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.podcontainer:hover {
    box-shadow: 2px 2px 2px 2px #3C6E71;
    outline-offset: 3px;
    cursor: pointer;
}