.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.submit {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    border-radius: 10%;
    width: 150px;
    height: 50px;
    background-color:rgba(160, 113, 52, 0.493);

}