.form {
    display: flex;
    flex-direction: column;
    color: white;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-content: center;

}
.form-instructions {
    font-family: 'futura';
    margin: 10px auto;
    height: max-content;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10%;
    font-family: 'futura';
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color:rgba(160, 113, 52, 0.493);

}

@media screen and (max-width: 500px){
    .form {
    font-size: 10px;
    }
}
