.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.textcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.toptext, .midtext, .getlink {
    font-family: 'futura';
    letter-spacing: 1px;

}
.toptext, .midtext {
    margin: 20px;
    font-size: 14px;
    color: white;
    text-shadow: 0 2px 4px rgba(70, 68, 68, 0.89);
}
.midtext {
    font-weight: 800;
    color: rgba(76, 46, 5, 0.747);
}
.center-container {
    display: flex;
    justify-content: space-evenly;

}
.widget {
    display: flex;
    flex-shrink: 1;
    max-width: 500px;
    height: 400px;
    margin: 50px 100px;
    border: 5px double #3C6E71;
    background-color: rgba(248, 248, 255, 0.575);

}
.heroimg {
    display: flex;
    flex-shrink: 1;
    max-width: 500px;
    max-height: 400px;
}

.getlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px 0 -10px;
    color: black
}

@media screen and (max-width: 500px){
    .toptext {
        display: flex;
        justify-content: space-around;
        margin: 0 10px
    }

    .midtext {
        font-size: 15px;
        text-decoration: black underline;
    }
    .center-container {
        display: flex;
        flex-direction: column;
    }

    .heroimg {
        display: flex;
        justify-self: center;
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }
}