.podmodal {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    color: black;
}

.close {
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: #707070;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
  }
  
  button:focus {
    outline: 0;
  }
  
  .close > a {
    position: relative;
    text-decoration: none;
    text-align: center;
    top: -9px;
    left: -2.5px;
    color: #ffffff;
  }