.podmodal {
    
    position: absolute;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.959);
    width: max-content;
    margin: 10px;
    height: 200px;
    color: black;
    border: 3px double black;
    z-index: 1000;
    animation: fadeInModal 0.5s;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: #707070;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
  }

  @keyframes fadeOutModal {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  button:focus {
    outline: 0;
  }
  


  li {
    list-style: none;
    margin: 10px;
  }

  .podname {
    text-decoration: underline solid;
    font-size: 20px;
    font-weight: 700;
  }

  .podtype {
    color: #4C2E05;
  }

  .podintensity {
    color: rgba(192, 62, 153, 0.589)
  }

  .podcaffeine {
    color: red;
  }