.podscontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.allpods {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    flex-shrink: initial;
}
.select {
    margin: 30px;
    text-align: center;
    color: #4C2E05;
    font-weight: 500;
    font-family: 'Futura';
}

